<h2>登入 / 註冊</h2>

<div class="facebook-login">
  <%= link_to(user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-lg") do%>
    <%= fa_stacked_icon "facebook", :base => "square-o", :text => "你可以直接使用 Facebook 免認證快速登入" %>
  <% end %>
</div>
