/*
 *= require font-awesome
 *= require windy
 *= require demo
 *= require style1
 */

$navbar-height: 60px;
$navbar-default-color: #fff;
$navbar-default-bg: #F55F02;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #E5491F;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: #E5491F;
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #fff;

$liten-orange: #FC9325;
$darken-orange: #E5491F;
@import 'twitter/bootstrap';

body {
  padding-top: 70px;
  background-color: #eee;
}
.lighten-header {
  min-height: $navbar-height;
  background-color: $liten-orange;
}

.quotes-title {
  color: $darken-orange;
  text-align: center;
  font-size: 56px;
  line-height: 36px;
  margin-top: 20px;
  border-bottom: 20px solid #DDD;
}
.quotation-mark {
  position: absolute;
  top: 5px;
  left: -65px;
}
.quote {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #fff;
  .quote-content {
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
  }
  .quote-link {
    padding: 10px 0;
    a {
      text-decoration: none;
      color: #BBB;
      &:hover {
        color: #BBB;
      }
    }
  }
}
.quote-annotation {
  background-color: #fff;
  margin: 2px 10px;
  padding: 20px;
  color: #888;
}

.windy-demo nav span {
  background: image-url('nav.png') no-repeat 100% 0;
}