<!DOCTYPE html>
<html>
<head>
  <title>Swifty</title>
  <%= stylesheet_link_tag "devise", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render_cell :shared, :navbar %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
